*{
    background-color: #23252C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.info {
  text-align: center;
  background-color: #1A1B21;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;

}
.profile-pic{
    width: 100%;
    border-radius:15px 15px 0px 0px;
    height: auto;
}

.info > h1 {
    color: white;
    background-color: #1A1B21;
    margin: 5px 0px 0px 0px;
    font-size: 3rem;
    font-weight: bold; 
}

.info> h2{
    color: #F3BF99;
    background-color: #1A1B21;
    font-size: 1.5rem;
    font-weight: normal;
}

.info > h4{
    margin: 20px 0px 15px 0px;
    color: white;
    background-color: #1A1B21;
    font-size: 1.3rem;
    font-weight: normal;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1B21;
}

.buttons > a {
    margin: 10px;
    padding: 10px;
    width: 150px;
    border-radius:10px;
    font-size: 1.5rem;
    border: 0px;
    text-decoration: none; 
}
.email-btn {
    display: flex;
    justify-content: center;
    color: #374151;
    background-color:#FFFFFF;
}

.linkdin-btn {
    display: flex;
    justify-content: center;
    background-color: #5093E2;
    color: white;
}

/*----------------------------------------------------*/
.desc {
    background-color: #1A1B21;
    color: white;
    text-align: left;
    padding: 25px 45px 0px 50px;
    margin: 0px 0px 0px 0px;
}

.desc > h1 {
    background-color: #1A1B21;   
}

.desc > p {
    background-color: #1A1B21;   
    font-weight: normal;
}

/*----------------------------------------------------*/
/*
justify-content property 
    - space-between -  distributes the items evenly (with space between them) in the line
    - space-around -   displays the items with space before, between, and after.
*/

.socials {
    background-color: #161619;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius:0px 0px 15px 15px;
    margin: 15px 0px 0px 0px;
}

.links {
    margin: 10px;
    padding: 10px;
    border-radius:15px;
}
